.home_hero_illustation_img {
  max-width: 400px;
  margin: 0 auto;
  margin-top: -60px;
  margin-bottom: -60px;
}
.home_hero_tex {
  padding-top: 20px;
}
/* WORKS AREA */
.works_items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 30px;
  gap: 30px;
}
.single_work_text {
  padding: 30px;
  border: 1px solid #fff;
  border: 2px solid #333;
  border-radius: 15px;
}
.single_work_text:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.14);
}
