:root {
  --color-white: #fff;
  --primary-color: #04b4e0;
}
body {
  padding: 30px 40px;
  background: #222;
  margin-left: 400px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}
.btn_primary {
  padding: 10px 30px;
  border-radius: 25px;
  border: 2px solid white;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 7px;
  transition: 0.3s all ease-in;
}
.btn_primary:hover {
  color: #04b4e0;
  border-color: #04b4e0;
}
/* GLOBAL CSS HERE */
main {
  margin-left: 400px !important;
}
.hp-dots {
  position: absolute;
  opacity: 0.08;
  top: -8%;
  left: -5%;
  content: "";
  height: 70%;
  width: 38%;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    #fff,
    #fff 3px,
    transparent 0px,
    transparent 100%
  );
  background-size: 18px 18px;
  z-index: 1;
}
.section-title {
  font-size: 28px;
  font-weight: 600;
  position: relative;
}
.section-title span {
  color: #04b4e0;
}
.section-title::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 30px;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    #04b4e0,
    #04b4e0 1px,
    transparent 0px,
    transparent 100%
  );
  background-size: 6px 6px;
  top: 0px;
  left: -10px;
  z-index: -1;
  opacity: 0.45;
}
